@import '_mixin';

.site-footer {
    border-top: 1px solid var(--color-gray-1);
    color: var(--color-gray-1);
    @include font_s;
    margin-top: var(--padding-default);
    padding: var(--padding-small);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .menu {
        @include reset_ul;
        display: flex;
        flex-wrap: wrap;
        a {
            padding: var(--padding-small);
        }
    }
    @media screen and (max-width: $width_m) {
        display: block;
        .menu {
            display: block;
        }
    }
}

