@import '_mixin';

.site-footer {
    border-top: 1px solid var(--color-gray-1);
    color: var(--color-gray-1);
    @include font_s;
    margin-top: var(--padding-default);
    padding: var(--padding-small);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .menu {
        @include reset_ul;
        display: flex;
        flex-wrap: wrap;
        a {
            display: inline-block;
            padding: var(--padding-small);
        }
        .youtube {
            a {
                @include iconb('youtube.svg');
            }
        }
        .chomikuj {
            a {
                @include iconb('hamster.svg');
            }
        }
        .youtube,
        .chomikuj {
            a {
                display: inline-block;
                overflow: hidden;
                text-indent: -9999em;
                width: 3em;
                background-size: auto 15px;
                &:hover {
                    opacity:.7;
                }
            }
        }
    }
    @media screen and (max-width: $width_m) {
        display: block;
        .menu {
            display: block;
        }
    }
}

